.App {
  text-align: center;
}
@import "mafs/core.css";

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

table, th, td {
  border: 1px solid rgb(255, 255, 255);
  background-color: #212121;
  color:rgba(255, 255, 255, 0.863)
  }
.listContent{
  background-color:#14207825;
  color: rgba(255, 255, 255, 0.42);
  padding: 20px;
  outline: solid;
  outline-color:rgba(0, 0, 0, 0.278);
  transition: background-color 250ms ease-out 50ms
}

.listContent:hover{
  background-color:#1420788b;
}

@keyframes listContentHovered{

}

.noBullet li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.noBullet ul{
  margin:0;
  padding:10px;
}

.listContent p {
  color: #dddddde2;
  text-align:center
}

.listContent a{
  text-align:center
}
.listContent a:link{
  color: rgb(54, 48, 171);
  text-align:center
}

.listContent a:visited{
  color:rgb(54, 48, 171);
  text-align:center

}

.App-header {
  background-color: #1f1d1dd8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
